@use "../library" as theme;

.left {
    width: auto;
    padding: 10px 20px;

    &__grid {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__select {
        color:black;
        max-width: 150px;
        min-width: 130px;
    }
}
.right {
    height: 100vh;
    width: 100%;
}


.plot {
    margin: auto
}

@media only screen and (max-width: theme.$screen-lg-max) {
    .left {
         &__select {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: theme.$screen-md-max) {
    .left {
         &__select {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: theme.$screen-sm-max) {
    .left {
         &__select {
            margin-bottom: 0px;
            max-width: 150px;
            min-width: 130px;
        }
    }
}

@media only screen and (max-width: theme.$screen-xs-max) {
    .left {
         &__select {
            margin-bottom: 10px;
        }
    }
}




  