.param-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    margin-bottom: 15px;

    &__child {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        justify-content: flex-start;
    }
    p {
        margin-top: 0px
    }

    &__select {
        color:black;
        min-width: 150px;
    }

}

.graph-container {
    display: grid;
    grid-template-columns: 80% 20%
}